.App {
  width: 90%;
  max-width: 1120px;
  padding-top: 50px;
  margin: auto;
  text-align: center;
  padding-bottom: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}